*.o
*.so
*.d
## this is to ignore
## the test docker build(add to tests)
docker/
*.tmp
*.swp
# Test outputs just in case
corpus/
tests_data/paths
tests_data/*/*
corpus_*/
crash-*
leak-*
timeout-*
EOF
